<a href='/home'>Home</a></br>
<a href='/message/new'>New Message</a>
<% @user_messages.reverse_each do |message| %>
    <h4><%= User.find(message.user_id).username %></h4>
    <p><%= message.content %></p>
<% end %>